
/* Your CSS Code here. */
blockquote
{
	display: flex;
	align-items: center;
	height: 50px;
	max-width 600px;
	margin: 10px
	padding: 20px;
	border-left: 8px solid green;
	background-color: #f8fffe;
	font-weight: bold;
}